# {{ ansible_managed }}

"{{ redis_log_dir }}/*.log" {
  daily
  missingok
  rotate 30
  compress
  copytruncate
  delaycompress
  ifempty
  create 0644 root {{ ansible_user }}
  dateext
  dateformat -%Y%m%d
  dateyesterday
  su root {{ ansible_user }}
}
